@page
@model QuarentenarioWeb.Pages.Analises.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Analise</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Analise.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Analise.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Analise.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Analise.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Analise.DataTermino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Analise.DataTermino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Analise.Finalizada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Analise.Finalizada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Analise.IdClienteNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Analise.IdClienteNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Analise.IdMaterialNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Analise.IdMaterialNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Analise.Id">Editar</a> |
    <a asp-page="./Index">Voltar à lista</a>
</div>
