@page
@model QuarentenarioWeb.Pages.Analises.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Análises</h1>

<p>
    <a asp-page="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Analise[0].Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Analise[0].DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Analise[0].DataTermino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Analise[0].Finalizada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Analise[0].IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Analise[0].IdMaterialNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Analise) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataTermino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finalizada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMaterialNavigation.Nome)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a> |
                <a asp-page="../AnalisesDetalhes/Index" asp-route-id="@item.Id">Controles</a> |
                <a asp-page="../Anexos/Index" asp-route-idAnalise="@item.Id">Anexos</a>
        </tr>
}
    </tbody>
</table>
