@page
@model QuarentenarioWeb.Pages.AnalisesDetalhes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AnaliseDetalhe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnaliseDetalhe.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnaliseDetalhe.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnaliseDetalhe.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnaliseDetalhe.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnaliseDetalhe.DataTermino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnaliseDetalhe.DataTermino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnaliseDetalhe.Finalizada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnaliseDetalhe.Finalizada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnaliseDetalhe.IdAnaliseNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnaliseDetalhe.IdAnaliseNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnaliseDetalhe.IdPatogenoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnaliseDetalhe.IdPatogenoNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AnaliseDetalhe.Id">Edit</a> |
    <a asp-page="./Index" asp-route-id="@Model.AnaliseDetalhe.IdAnalise">Back to List</a>
</div>
