@page
@model QuarentenarioWeb.Pages.AnalisesDetalhes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Análises</h1>

<p>
    <a asp-page="./Create" asp-route-id="@Model.IdAnalise">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnaliseDetalhe[0].Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnaliseDetalhe[0].DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnaliseDetalhe[0].DataTermino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnaliseDetalhe[0].Finalizada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnaliseDetalhe[0].IdAnaliseNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnaliseDetalhe[0].IdAnaliseNavigation.IdMaterialNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnaliseDetalhe[0].IdPatogenoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AnaliseDetalhe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataTermino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finalizada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAnaliseNavigation.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAnaliseNavigation.IdMaterialNavigation.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPatogenoNavigation.Nome)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a> |
                <a asp-page="../Anexos/Index" asp-route-idAnaliseDetalhe="@item.Id" asp-route-idAnalise="@item.IdAnalise">Anexos</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-page="/Boletins/Index">Voltar à lista de Boletins</a>
</div>